* text=auto
*.py text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.java text eol=lf
*.ts text eol=lf
*.rs text eol=lf
*.g4 text eol=lf
*.langium text eol=lf
*.xtext text eol=lf
*.mwe2 text eol=lf
*.toml text eol=lf
*.json text eol=lf
